<div [@routerTransition]>
    <!-- Page Header -->
    <app-page-header [heading]="'Product Management'" [icon]="'fa-book'"></app-page-header>

    <!-- Page NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <app-addcategory></app-addcategory>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Product</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search For Category" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>