<div [@routerTransition]>
    <!-- Page Header -->
    <app-page-header [heading]="'Product Management'" [icon]="'fa-book'"></app-page-header>

    <!-- Page NavBar -->
    <div class="card">
        <div class="card-header">
            <app-addcategory (categoryAdded)="categoryAdded($event)"></app-addcategory>
            <form class="form-inline my-2 my-lg-0" style="float: right">
                <input class="form-control mr-sm-2" type="text" placeholder="Search For Category" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <br>

    <!--Categorys-->
    <div *ngIf="categories">
        <div *ngFor="let category of categories">
            <div class="card">
                <div class="card-header">
                    <div *ngIf="category.product.length==0 else deletedisbled">
                        <p style="display: inline" name='idCategory'> {{ category.category1 }} </p>
                        <button class='btn btn-danger' style="float: right;" (click)="deleteCategory(category)">delete</button>
                        <button class='btn btn-warning' style="float: right; margin-right: 10px;">edit</button>
                        <button class="btn btn-success" style="float: right; margin-right: 10px;">add Product</button>
                    </div>
                    <ng-template #deletedisbled>
                        <p style="display: inline" name='idCategory'> {{ category.category1 }} </p>
                        <button class='btn btn-danger disabled' style="float: right;" (click)="deleteCategory(category)">delete</button>
                        <button class='btn btn-warning' style="float: right; margin-right: 10px;">edit</button>
                        <button class="btn btn-success" style="float: right; margin-right: 10px;">add Product</button>
                    </ng-template>
                </div>
                <div *ngIf="category.product.length>0 else noProduct">
                    <table class="card-body table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Reference</th>
                                <th>Serial Number</th>
                                <th>Price</th>
                                <th>quantity</th>
                                <th style="width: 165px"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let prod of category.product">
                            <tr>
                                <td>{{ prod.product1 }}</td>
                                <td>{{ prod.reference }}</td>
                                <td>{{ prod.serialNumber }}</td>
                                <td>{{ prod.price }}</td>
                                <td>{{ prod.quantite }}</td>
                                <td>
                                    <button class='btn btn-outline-warning'>edit</button> &nbsp;
                                    <button class='btn btn-outline-danger'>delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #noProduct class="align-content-center">
                    <br>
                    <p class='text-center'>No Poducts yet</p>
                </ng-template>
            </div>
            <br>
        </div>
    </div>
</div>